.flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content:center;
}
h1{
    color: white;
    font-size: 56px;
    font-weight: 600;
}
h2{
    color: white;
    font-size: 26px;
    font-weight: 600;
}
h3{
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.flex-column{
    flex-direction: column;
}
.rowg-1{
    row-gap: 10px;
}
.rowg-2{
    row-gap: 20px;
}
.rowg-3{
    row-gap: 30px;
}
.columng-1{
    column-gap: 10px;
}
.columng-2{
    column-gap: 20px;
}
.columng-3{
    column-gap: 30px;
}
